.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        ". main ."
        ". main ."
        "footer footer footer";
}

.header {
    grid-area: header;
    position: relative;
}

.header img {
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.main {
    grid-area: main;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "conditions policy help"
        "copyright copyright copyright";
    width: 50%;
    place-content: center;
}

.conditions {
    grid-area: conditions;
}

.policy {
    grid-area: policy;
}

.help {
    grid-area: help;
}

.copyright {
    grid-area: copyright;
}